
/*  */
/*  */
/*  */
/* BANNER */
/*  */
/*  */
/*  */


.banner {
    padding-block: var(--section-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .banner.left .max-width, .banner.left h1 {
    text-align: left;
  }

  .banner.left .w-full {
    align-items: flex-start;
  }
  
  .banner.center {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  
  .banner-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  .banner-tagline {
    font-size: 20px;
    margin: 0 0 20px 0;
    text-align: left;
  }

  .banner.center .banner-tagline {
    text-align: center;
  }
  
  .banner-cta {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: var(--ctaBgColor, #00a859); /* Example background color */
    color: var(--ctaTextColor, #ffffff); /* Example text color */
    border-radius: 5px;
  }
  
  .banner-cta:hover {
    background-color: var(--ctaHoverBgColor, #007a3c); /* Example hover background color */
  }
  
  @media screen and (max-width: 1200px) {
    .banner {
      flex-direction: column !important;
      align-items: center;
    }

    .banner * {
      flex-direction: column !important;
      align-items: center !important;
      text-align: center !important;
    }
  }